/* Estilo para el navbar */
.navbar {
  background-color: #00145A; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.navbar-brand h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin: 0;
  line-height: 1.2; 
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.nav-button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
}

.nav-button:hover {
  background-color: #333;
}

.admin-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.movie-form {
  display: flex;
  flex-direction: column;
}

.movie-form div {
  margin-bottom: 15px;
}

.movie-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; 
}

.movie-form input, .movie-form textarea {
  padding: 12px; 
  border: 1px solid #ddd; 
  border-radius: 6px;
  transition: border-color 0.3s; 
}

.movie-form input:focus, 
.movie-form textarea:focus {
  border-color: #007bff; 
  outline: none; 
}

.movie-form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.movie-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

.movie-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; 
}

.movie-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px 0; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: box-shadow 0.3s; 
}

.movie-item:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); 
}

.movie-item button {
  margin-left: 10px;
  background-color: #dc3545;
  padding: 8px 12px; 
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; 
}

.movie-item button:hover {
  background-color: #c82333;
  transform: translateY(-2px); 
}
