.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
    gap: 20px; 
    background-color: #00145A; 
  }
  

  .movie-card {
    background-color: #282c34; 
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    transition: transform 0.3s ease; 
    width: 200px; 
    position: relative; 
  }
  
  .movie-card:hover {
    transform: scale(1.05); 
  }
  
  .movie-front,
  .movie-back {
    padding: 15px;
  }
  
  .movie-front {
    background-color: #3c3f44; 
    transition: opacity 0.5s ease; 
  }
  
  .movie-back {
    background-color: #4c4f54; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; 
    color: #f0f0f0; 
    padding: 15px;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .movie-card:hover .movie-back {
    opacity: 1;
  }
  
  h2 {
    font-size: 1.5em; 
    margin: 0 0 10px 0; 
  }
  
  p {
    margin: 5px 0;
  }
  